@keyframes vanish {
  0% { transform: translateX(5px); }
  1% { transform: translateX(-5px); }
  2% { transform: translateX(5px); }
  3% { transform: translateX(-5px); }
  4% { transform: translateX(5px); }
  5% { transform: translateX(-5px); }
  6% { transform: translateX(5px); }
  7% { transform: translateX(0); }
  50% { transform: translateY(0); }
  100% { transform: translateY(-100vh); }
}
body {
  margin: 0;
  padding-top: 80px;
  box-sizing: border-box;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Open Sans";
  overflow: hidden;
  padding-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito";
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.7);
  display: block;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  z-index: 50;
}
#sitelogo {
  height: 100%;
}
a.sitelogo {
  display: block;
  height: 80px;
  width: 80px;
  transition: .2s ease-out;
}
a.sitelogo:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.flright {
  position: absolute;
  right: 20px;
  top: 20px;
}
.flright > * {
  float: left;
}
a.profilicon {
  background: white;
  line-height: 40px;
  text-align: center;
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5em;
}
a.profilicon:hover {
  border-bottom: 2px solid firebrick;
}
input[type=submit].searchclic {
  line-height: 40px;
  text-align: center;
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid grey;
  box-sizing: border-box;
  margin: 0 0;
  margin-left: 0;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  color: black;
  transition: .2s ease;
}
input[type=submit].searchclic:hover {
  background: firebrick;
  border-color: firebrick;
}
.searchbox > * {
  float: left;
}
.searchbar {
  background: transparent;
  display: inline-block;
  height: 40px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  width: 450px;
  color: grey;
  transition: background .25s ease;
}
.searchbar:hover {
  border-color: firebrick;
  color: black;
}
.searchbar:focus {
  background: white;
  border-color: firebrick;
  color: black;
  outline: 0;
}
input.opencat {
  line-height: 40px;
  text-align: center;
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  margin: 0;
  margin-left: 0;
  text-decoration: none;
  color: black;
}
input.opencat:hover {
  background: firebrick;
  cursor: pointer;
}
.catlist {
  grid-template-columns: 140px 140px 140px;
  grid-column-gap: 12px;
  position: absolute;
  width: 485px;
  height: 150px;
  overflow-y: auto;
  background: white;
  top: 39px;
  left: 5px;
  box-sizing: border-box;
  border-top: 5px solid firebrick;
  transition: opacity 1s ease;
  border-radius: 0 0 5px 5px;
}
.catlist ul {
  float: left;
  width: 140px;
  margin-right: 12px;
  list-style: none;
  padding-left: 5px;
  border-right: 1px solid lightgrey;
}
.catlist ul:nth-child(3n) {
  margin-right: 0;
  border-right: none;
}
.catlist ul li {
  transition: .2s ease-out;
  text-transform: capitalize;
}
.catlist ul li:hover {
  border-left: 2px solid firebrick;
  padding-left: 5px;
}
.searchform > a {
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  display: inline-block;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  background: grey;
  float: right;
  text-decoration: none;
  color: white;
  font-size: 2em;
}
.usermenu {
  position: absolute;
  display: block;
  top: 65px;
  right: 25px;
  margin: 0;
  padding: 4px 6px;
  box-sizing: border-box;
  width: 200px;
  background: white;
  border: 1px solid firebrick;
  border-radius: 3px;
  list-style: none;
}
.calltoaction {
  display: block;
  padding: 5px 20px;
  border-radius: 3px;
  background: firebrick;
  border: 2px solid firebrick;
  color: white;
  text-decoration: none;
  margin: 1px 10px;
  transition: .2s ease-out;
  box-sizing: border-box;
}
.calltoaction:hover {
  background: transparent;
  border: 2px solid firebrick;
  color: firebrick;
  transform: scale(.9);
}
.calltoaction:last-child {
  margin-right: 0;
}
#home {
  height: 100%;
  box-sizing: border-box;
  background: lightgrey;
  margin: 0 20px;
  overflow-y: auto;
  direction: rtl;
}
#home::-o-scrollbar {
  display: none;
}
#home::-moz-scrollbar {
  display: none;
}
#home::-webkit-scrollbar {
  display: none;
}
.grid {
  background: lightgrey;
  direction: ltr;
}
.grid-item {
  width: 25%;
  margin-bottom: -30px;
  overflow: hidden;
}
.grid-item a {
  min-width: 100%;
}

/* Delphine */
.grid-item img{
  width: 100%;
}

/*modal*/
.modal {
  /*background: grey;*/
  height: 100%;
  display: block;
  margin: 0 20px;

  display: flex;
}
.modal-content {
  margin: auto;
}
.modalphoto {
  display: block;
  z-index: 15;
  background: #2B2B2B;
  color: white;
  padding: 100px 50px 30px 50px;
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  margin: 0 20px;
  height: 100%;
  overflow-y: auto;
  direction: rtl;
}
.modalphoto:before {
  display: block;
  content: "";
  position: fixed;
  width: 20px;
  top: 0;
  left: 0;
  height: 100vh;
  background: white;
  z-index: 20;
}
.modalphoto img {
  max-width: 100%;
  max-height: 50vh;
}
.modalphoto > p {
  max-width: 50%;
  margin: 20px auto;
}
.modalphoto > p:last-child {
  margin-bottom: 50px;
}
.logo{
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.modal-content{
  width: 60%;
  display: block;
  background: rgba(255,255,255,.9);
  border-radius: 5px;
  /*margin: 0 auto;*/
}
.modal-content span{
  display: block;
  float: right;
}
/* Form signUp et SignIn*/
.signin {
  width: 45%;
  display: block;
  float: left;
  font-size: 12px;
  margin-left: 15Px;
}
.signup{
  width: 45%;
  display: block;
  float: left;
  margin-left: 20px;
  font-size: 12px;
}
.signin h3,.signup h3{
  font-size: 14px;
  text-align: center;
}
.form1 form input[type=text],.form1 form input[type="password"]{
  width: 49%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.form1 form input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
}
.form2 form input[type=text],.form2 form input[type="password"]{
  width: 49%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.inputleft {
  margin-right: 2%;
}
.form2 form input[type=submit] {
  width: auto;
  background-color: black;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
}
form input[type=submit]:hover {
  background: firebrick;
}
#errormsg, #passedmsg {
  background: firebrick;
  display: block;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  left: 100px;
  transition: 1s ease;
  z-index: 999;
  color: white;
  animation: 8s vanish forwards;
}
#passedmsg {
  background: green;
}
#registermodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#registermodal .modal-content {
  width: 500px;
  padding: 50px 10px;
}
/* close btn */
a.close {
  background: firebrick;
  text-decoration: none;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: white;
  text-align: center;
  border-radius: 50%;
  position: relative;
  display: block;
  float: right;
  top: -40px;
  font-size: 1.2em;
  transition: .2s ease;
}
a.close:hover {
  transform: scale(1.5);
}
a.closeimg {
  top: 100px;
  position: fixed;
  right: 40px;
}
.fullinput {
  width: 100% !important;
}
.grid-item > img {
  transition: .2s ease;
}
.grid-item:hover > img {
  transform: scale(1.1);
}
/* Usable */
.firebrickbg {
  background-color: firebrick !important;
}
.firebrickborder {
  border-color: firebrick;
}
.hidden {
  display: none;
}
/*Upload Form*/
#container{
  width: 60%;
  border: 1px solid black;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  opacity: 0.8;
}
#container a{
  display: block;
  float: right;
  margin-right: 10px;
  color: black;
}
#upload_img{
  font-family:'Nunito';
  font-size: 14px;
  line-height: 30px;
  font-weight:800;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
}
.titre {
  width: 60%;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid black;

}
.titre h3{
  font-family: 'Nunito';
  font-size: 20px;
}
/*Upload de l'image*/
.new_img{
  width: 40%;
}
.new_img form{
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  resize: vertical;
}
.img_upload label {
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}
.img_upload input {
    display: none;
}
input[type="submit"]{
  display: block;
  margin: 0 auto;
}
.img_upload{
  border-radius: 3px;
  border: 1px solid black;
  width: 200px;
  height: 300px;
  padding: 10px;
  margin-bottom: 15px;
}
/*Titre, description et catégories*/
.description{
  width: 45%;
  margin-top: 12px;
}
.description input, .description textarea{
  border: 1px solid #ccc;
  border-radius: 4px;
}
.description textarea{
  width: 100%;
  margin-bottom: 15px;
}
.description label{
  margin-left: 40px;
  text-align: left;
}
.checkbox input, .checkbox label{
  float:left;
  clear: both;
  line-height: normal;
}
.item, .item1, .item2, .item3,.item4{
  display: flex;
}
