body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Open Sans";
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Nunito;
}
.topbar {
  position: fixed;
  background: rgba(255,255,255,.7);
  display: block;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  z-index: 50;
}
.flright {
  position: absolute;
  right: 20px;
  top: 20px;
}
.flright > * {
  float: left;
}
a.profilicon {
  background: white;
  line-height: 40px;
  text-align: center;
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5em;
}
a.profilicon:hover {
  border-bottom: 2px solid firebrick;
}
a.searchclic {
  line-height: 40px;
  text-align: center;
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid grey;
  box-sizing: border-box;
  margin: 0 10px;
  margin-left: 0;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  color: black;
  transition: .2s ease;
}
a.searchclic:hover {
  background: firebrick;
}
.searchbox > * {
  float: left;
}
.searchbar {
  background: transparent;
  display: inline-block;
  height: 40px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  width: 450px;
  color: grey;
}
.searchbar:hover {
  border-color: firebrick;
  color: black;
}
.searchbar:focus {
  background: white;
  border-color: firebrick;
  color: black;
  outline: 0;
}
.opencat:hover {
  background: firebrick;
}
.catlist {
  display: grid;
  grid-template-columns: 140px 140px 140px;
  grid-column-gap: 12px;
  position: absolute;
  width: 485px;
  background: firebrick;
  top: 39px;
  left: 5px;
  color: white;
  box-sizing: border-box;
}
.catlist ul {
  display: block;
  list-style: none;
  padding-left: 5px;
  border-right: 1px solid lightgrey;
}
.catlist ul:last-child {
  border: none;
}
.searchform > a {
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  display: inline-block;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  background: grey;
  float: right;
  text-decoration: none;
  color: white;
  font-size: 2em;
}
.usermenu {
  position: absolute;
  display: block;
  top: 65px;
  right: 25px;
  margin: 0;
  padding: 4px 6px;
  box-sizing: border-box;
  width: 200px;
  background: white;
  border: 1px solid firebrick;
  border-radius: 3px;
  list-style: none;
}
.calltoaction {
  display: block;
  padding: 5px 20px;
  border-radius: 3px;
  background: firebrick;
  border: 2px solid firebrick;
  color: white;
  text-decoration: none;
  margin: 5px 10px;
  transition: .2s ease-out;
  box-sizing: border-box;
}
.calltoaction:hover {
  background: transparent;
  border: 2px solid firebrick;
  color: firebrick;
  transform: scale(.9);
}
.calltoaction:last-child {
  margin-right: 0;
}
#home {
  height: 100%;
  padding-top: 80px;
  box-sizing: border-box;
  background: lightgrey;
  margin: 0 20px;
  overflow-y: scroll;
  direction: rtl;
}
#home::scrollbar {
  display: none;
}
#home::-moz-scrollbar {
  display: none;
}
#home::-webkit-scrollbar {
  display: none;
}
.grid {
  background: lightgrey;
  direction: ltr;
}
.grid-item {
  width: 25%;
  min-width: 150px;
  margin-bottom: -30px;
  overflow: hidden;
}
.grid-item a {
  min-width: 100%;
}
/* Delphine */
.grid:after {
  content: '';
  display: block;
  clear: both;
  background: white;
  width: 100%;
  height: 20px;
}

.grid-item img{
  width: 100%;
}
/* Usable */
.hidden {
  display: none;
}
.firebrickbg {
  background: firebrick !important;
}